# Databases
Python implements a standard database API over all databases. Its called [DBAPI2](http://cewing.github.io/training.codefellows/lectures/day21/intro_to_dbapi2.html). It works across many SQL databases. This notebook uses SQLite, the Python built-in database. No server and/or client side installation needed, just `import` sqlite. You might consider installing the [SQLite browser](http://sqlitebrowser.org) to design, make and edit SQLite compatible database files.
<br><br>
- There is an even higher level API available, called [SQLAlchemy](http://www.sqlalchemy.org) (not used here).
- Not discussed here, but SQLite integrates nicely with the `Pandas` dataframe.

In [1]:
from sqlite3 import dbapi2 as sl3
# OR: import sqlite3 as sl3. This can be done as well, but you have to reference to sl3.dbapi2.

## Example
A small example connecting to a database, populating the database from a text file and some querying.

In [2]:
# database connection
connection = sl3.connect('test_sqlite.db')

### Database schema
In our example we use the schema below to create a database table

In [3]:
testschema="""
DROP TABLE IF EXISTS "candidates";
CREATE TABLE "candidates" (
    "id" INTEGER PRIMARY KEY  NOT NULL ,
    "first_name" VARCHAR,
    "last_name" VARCHAR,
    "middle_name" VARCHAR,
    "party" VARCHAR NOT NULL
);
"""

In [4]:
with connection:
    connection.cursor().executescript(testschema)
connection.commit()

### Populate the database with SQL INSERT
The data to be inserted comes from file `candidates.txt`

In [5]:
ins="""
INSERT INTO candidates (id, first_name, last_name, middle_name, party) \
    VALUES (?,?,?,?,?);
"""
with open("data/candidates.txt") as fd:
    slines =[l.strip().split('|') for l in fd.readlines()]
    for line in slines[1:]:
        theid, first_name, last_name, middle_name, party = line
        print (theid, first_name, last_name, middle_name, party)
        valstoinsert = (int(theid), first_name, last_name, middle_name, party)
        print (ins, valstoinsert)
        connection.cursor().execute(ins, valstoinsert)

33 Joseph Biden  D

INSERT INTO candidates (id, first_name, last_name, middle_name, party)     VALUES (?,?,?,?,?);
 (33, 'Joseph', 'Biden', '', 'D')
36 Samuel Brownback  R

INSERT INTO candidates (id, first_name, last_name, middle_name, party)     VALUES (?,?,?,?,?);
 (36, 'Samuel', 'Brownback', '', 'R')
34 Hillary Clinton R. D

INSERT INTO candidates (id, first_name, last_name, middle_name, party)     VALUES (?,?,?,?,?);
 (34, 'Hillary', 'Clinton', 'R.', 'D')
39 Christopher Dodd J. D

INSERT INTO candidates (id, first_name, last_name, middle_name, party)     VALUES (?,?,?,?,?);
 (39, 'Christopher', 'Dodd', 'J.', 'D')
26 John Edwards  D

INSERT INTO candidates (id, first_name, last_name, middle_name, party)     VALUES (?,?,?,?,?);
 (26, 'John', 'Edwards', '', 'D')
22 Rudolph Giuliani  R

INSERT INTO candidates (id, first_name, last_name, middle_name, party)     VALUES (?,?,?,?,?);
 (22, 'Rudolph', 'Giuliani', '', 'R')
24 Mike Gravel  D

INSERT INTO candidates (id, first_name, last_name, middle_name, party)     VALUES (?,?,?,?,?);
 (24, 'Mike', 'Gravel', '', 'D')
16 Mike Huckabee  R

INSERT INTO candidates (id, first_name, last_name, middle_name, party)     VALUES (?,?,?,?,?);
 (16, 'Mike', 'Huckabee', '', 'R')
30 Duncan Hunter  R

INSERT INTO candidates (id, first_name, last_name, middle_name, party)     VALUES (?,?,?,?,?);
 (30, 'Duncan', 'Hunter', '', 'R')
31 Dennis Kucinich  D

INSERT INTO candidates (id, first_name, last_name, middle_name, party)     VALUES (?,?,?,?,?);
 (31, 'Dennis', 'Kucinich', '', 'D')
37 John McCain  R

INSERT INTO candidates (id, first_name, last_name, middle_name, party)     VALUES (?,?,?,?,?);
 (37, 'John', 'McCain', '', 'R')
20 Barack Obama  D

INSERT INTO candidates (id, first_name, last_name, middle_name, party)     VALUES (?,?,?,?,?);
 (20, 'Barack', 'Obama', '', 'D')
32 Ron Paul  R

INSERT INTO candidates (id, first_name, last_name, middle_name, party)     VALUES (?,?,?,?,?);
 (32, 'Ron', 'Paul', '', 'R')
29 Bill Richardson  D

INSERT INTO candidates (id, first_name, last_name, middle_name, party)     VALUES (?,?,?,?,?);
 (29, 'Bill', 'Richardson', '', 'D')
35 Mitt Romney  R

INSERT INTO candidates (id, first_name, last_name, middle_name, party)     VALUES (?,?,?,?,?);
 (35, 'Mitt', 'Romney', '', 'R')
38 Tom Tancredo  R

INSERT INTO candidates (id, first_name, last_name, middle_name, party)     VALUES (?,?,?,?,?);
 (38, 'Tom', 'Tancredo', '', 'R')
41 Fred Thompson D. R

INSERT INTO candidates (id, first_name, last_name, middle_name, party)     VALUES (?,?,?,?,?);
 (41, 'Fred', 'Thompson', 'D.', 'R')

### Querying

In [6]:
query1 = "SELECT * FROM CANDIDATES WHERE party= 'R'"

In [7]:
connection.cursor().execute(query1).fetchall()

[(16, 'Mike', 'Huckabee', '', 'R'),
 (22, 'Rudolph', 'Giuliani', '', 'R'),
 (30, 'Duncan', 'Hunter', '', 'R'),
 (32, 'Ron', 'Paul', '', 'R'),
 (35, 'Mitt', 'Romney', '', 'R'),
 (36, 'Samuel', 'Brownback', '', 'R'),
 (37, 'John', 'McCain', '', 'R'),
 (38, 'Tom', 'Tancredo', '', 'R'),
 (41, 'Fred', 'Thompson', 'D.', 'R')]

In [8]:
query2 = "SELECT * FROM CANDIDATES WHERE first_name like 'Jo%'"

In [9]:
connection.cursor().execute(query2).fetchall()

[(26, 'John', 'Edwards', '', 'D'),
 (33, 'Joseph', 'Biden', '', 'D'),
 (37, 'John', 'McCain', '', 'R')]

### Deleting
To make deletion permanent perform a `commit()` action.

In [10]:
connection.cursor().execute("DELETE FROM CANDIDATES WHERE party = 'R'")
connection.commit()

# Check by executing query1 to check the deletion
connection.cursor().execute(query1).fetchall()

[]

The SQLite browser indeed does not show candidates of party 'R'.
![](BrowserSQLite.JPG)

### Close db connection
At the end close the database connection.

In [11]:
connection.close()