# Lambda function
A `lambda` function or expression is a concise way to achieve the same as functions. Just like list comprehensions are to lists. A `lambda` function has no name but consists of:
* keyword `lambda`
* bound variables (>= 1 argument to the lambda function)
* body

Lambda functions are frequently encountered in datascience code.

## Immediately invoked

In [1]:
(lambda x, y: x + y)(2, 3)

5

## Named invocation
Code in cell below similar to function:
```python
def add(x, y):
    return x + y
```

In [2]:
add = lambda x, y: x + y
add(2, 3)

5

In [3]:
# convert newlines to spaces
rem_nl = lambda s: s.replace("\n", " ")
str='''This is\nquite interesting\nisn't it\nHenry?\nIndeed\nit sure is'''
print(str)
rem_nl(str)

This is
quite interesting
isn't it
Henry?
Indeed
it sure is

"This is quite interesting isn't it Henry? Indeed it sure is"

### Named invocation - High order

In [4]:
highOrderFunction = lambda x, func: x + func(x)
highOrderFunction(4, lambda x: x + 5) # expected 13

13

In [5]:
highOrderFunction(4, lambda x: x * 5) # expected 24

24

## Lambda and Pandas
In datascience operations `lambda` functions can be applied to Pandas dataframes on both rows and columns. A small example on a column using `df.assign()`:

In [6]:
import pandas as pd
# creating and initializing a list
values= [['Vlssingen',255],['Hoek van Holland',375],['IJmuiden',400],
         ['Harlingen',400],['Eemshaven',425],['Delfzijl',450]] 
  
# creating a pandas dataframe
df = pd.DataFrame(values,columns=['Coastal_station','Storm_surge_total'])
  
# Applying lambda function to find percentage of 'Storm_surge_total' column with df.assign()
df = df.assign(Percentage = lambda x: (x['Storm_surge_total'] /500 * 100))
  
# displaying the data frame
df

    Coastal_station  Storm_surge_total  Percentage
0         Vlssingen                255        51.0
1  Hoek van Holland                375        75.0
2          IJmuiden                400        80.0
3         Harlingen                400        80.0
4         Eemshaven                425        85.0
5          Delfzijl                450        90.0

... and on a single row using `df.apply()`:

In [7]:
df['m'] = df['Storm_surge_total'].apply(lambda x: x / 100.0)
df

    Coastal_station  Storm_surge_total  Percentage     m
0         Vlssingen                255        51.0  2.55
1  Hoek van Holland                375        75.0  3.75
2          IJmuiden                400        80.0  4.00
3         Harlingen                400        80.0  4.00
4         Eemshaven                425        85.0  4.25
5          Delfzijl                450        90.0  4.50